.userinput {
  width: 100%;

  .addbutton {
    display: inline-block;
    outline-width: 0;
    float: left;
    height: 39px;
    width: 11%;
    color: green;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
  }
}